#adam-mcnicol {
  width: 25%;
  float: right;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #333333;
}

.authordetails img {
  width: 50%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 0;
  border: 1px solid #333333;
}

.authordetails p {
  font-size: 0.75em;
  text-align: right;

}

.authordetails {
}

.highlighttable {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cell pre {
  font-family: "source-code-pro", Consolas, Courier, monospace;
  font-weight: 300;

}

.linenodiv pre {
  font-family: "source-code-pro", Consolas, Courier, monospace;
  font-weight: 200;
}

footer a:hover {
  text-decoration: underline;
}

p a:hover {
  text-decoration: underline;
}

* {
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.label a {
    color: #FFFFFF;
}

.label {
    border-radius: 5px;
}


.top-bar {
    background-color: transparent;
}

.top-bar ul {
    background-color: transparent;
}

.top-bar a {
    color: #000000;
}

.top-bar a:hover {
    text-decoration: underline;
}

.menu-text a {
    color: #000000;
    font-size: 4.75em;
    font-weight: 700;
    font-style: normal;
}

.menu-text a:hover {
    text-decoration: none;
}

div.title-bar-title {
  padding-left: 20px;
}

div.title-bar {
  background-color: #646669;
}

@media screen and (max-width: 39.9375em) {
  .top-bar {
    background-color: #cacaca;
  }
}

.label {
  margin-bottom: 5px;
  margin-right: 3px;
}

.category-date {
  padding-top: 20px;
  padding-bottom: 10px;
}

.page-title {
    font-size: 3.75em;
    font-weight: 700;
    font-style: normal;
}

.social {
  text-align: right;
}

.social .has-tip {
  border-bottom-style: none;
}

.social .has-tip {
  border-bottom-style: none;
}

.social a:hover {
  text-decoration: none;
}
