{% extends "base.html" %}

{% block windowtitle %}{{ article.title }}{% endblock %}
{% block title %}Blog{% endblock %}
{%block columnsizeleft %}large-10{% endblock %}
{%block columnsizeright %}large-2{% endblock %}

{% block content %}
<article>
	<div class="grid-x">
		<div class="cell small-12 large-10">
			<h1>{{article.title}}</h1>
			<p>
			{% for tag in article.tags %}
			<span class="label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
			{% endfor %}
			</p>
			<hr />
		</div>
		<div class="cell large-2 hide-for-small-only hide-for-medium-only">
			<div class="authordetails">
				<p><img src="{{SITEURL}}/images/adam.jpg" alt="picture of Adam McNicol" /></p>
				<p>{{ article.locale_date }}.
				<br/>
				{% if article.locale_modified %}
				<br/>updated on {{article.locale_modified}}.
				{% endif %}
				</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="cell small-12 large-10">
			{{article.content}}
		</div>
	</div>
</article>
{% endblock %}
