{% set indexpage = pages|sort(attribute='title')|first %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="{{ AUTHOR }}">
		<link rel="stylesheet" href="/theme/css/foundation.css">
		<link rel="stylesheet" href="/theme/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="/theme/css/pygment.css" />
		<link rel="stylesheet" href="/theme/css/pygment/{{ FOUNDATION_PYGMENT_THEME }}.css" />
		<link rel="stylesheet" href="/theme/css/app.css" />


		<link rel="canonical" href="https:{{ SITEURL }}/{{indexpage.url}}" />

		<!-- Feeds -->
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}

		{% include "analytics.html" %}

		<!-- mathjax config similar to math.stackexchange -->
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$', '$'] ],
				displayMath: [ ['$$', '$$']],
				processEscapes: true,
				skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
			},
			messageStyle: "none",
			"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
		});
		</script>
		<script type="text/javascript" async
		  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
		</script>
		<script type="text/javascript" src="//use.typekit.net/cjg7xbm.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  			<button class="menu-icon" type="button" data-toggle></button>
  			<div class="title-bar-title">Adam McNicol.</div>
		</div>
		<div class="top-bar" id="example-animated-menu" data-animate="fade-in fade-out">
  			<div class="top-bar-left">
    			<ul class="dropdown menu" data-dropdown-menu>

      				<li class="menu-text hide-for-small-only"><a href="{{ SITEURL }}">Adam McNicol.</a></li>

				</ul>
  			</div>
  			<div class="top-bar-right">
    			<ul class="dropdown menu" data-dropdown-menu>
					{% for page in pages %}
						{%if page.title != "acme-challenge" %}
      						<li><a href="{{SITEURL}}/{{page.url}}">{{page.slug}}</a></li>
      					{% endif %}
      				{% endfor %}
      				<li><a href="{{SITEURL}}/categories.html">Blog</a></li>
				</ul>
  			</div>
		</div>
		<section class="grid-container grid-container-padded">
			<div class="grid-x">
				<!-- Main Content -->
				<div class="cell">
						{% block content %}{% endblock %}
				</div>
				<!-- End Main Content -->
			</div>

			<!-- Footer -->
			<footer>
					{%block footerrule %}<hr/>{% endblock %}
					{%block footer %}
						<div class="grid-x">
						<div class="left small-10">
							©2014-2017 <a href="mailto:adam@mcnicol.me">Adam McNicol</a>.
						</div>
						<div class="cell small-2 right social">
							{% for name, link in SOCIAL %}
			                    {% if name == 'twitter' %}
			                    <a href="{{ link }}" class="fi-social-twitter has-tip" data-tooltip aria-haspopup="true" title="Follow Me On Twitter"></a>
			                    {% elif name == 'github' %}
			                    <a href="{{ link }}" class="fi-social-github has-tip" data-tooltip aria-haspopup="true" title="View My GitHub Repos"></a>
			                    {% endif %}
			                {% endfor %}

						</div>
						</div>
					{% endblock %}

			</footer>
			<!-- End Footer -->
		</section>

		<script src="/theme/js/vendor/jquery.js"></script>
		<script src="/theme/js/vendor/foundation.min.js"></script>
		<script src="/theme/js/app.js"></script>
	</body>
</html>