{% extends "base.html" %}

{% block windowtitle %}Blog{% endblock %}
{% block title %}Blog{% endblock %}
{% block content %}
    {% for article in articles|sort(attribute='date', reverse=True) %}
    <div class="grid-x">
        <div class="cell small-12 medium-2 large-2">
            <h6 class="category-date">{{article.locale_date}}.</h6>
            {% for tag in article.tags %}
                <span class="label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
            {% endfor %}
        </div>
        <div class="cell small-12 medium-9 large-9">
            <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            {{ article.content if FOUNDATION_FRONT_PAGE_FULL_ARTICLES else article.summary }}
            {% if not FOUNDATION_FRONT_PAGE_FULL_ARTICLES %}
                {# add a 'Continue reading' link if we're displaying summaries #}
                <p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">Continue reading &raquo;</a></p>
            {% endif %}
        </div>
    </div>
    <hr />
    {% endfor %}

{% endblock %}

{% block footerrule %}
{% endblock %}
