{% extends "base.html" %}

{% block windowtitle %}{{ page.title }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
{% if page.title != "About" %}
    <h1 class="page-title">{{ page.title }}</h1>
{% endif %}
<div class="small-12 columns">
	{{ page.content }}
</div>
{% endblock %}